body {
    font-family: arial;
 }
 
 #top {
     text-align: center;
 }
 
 #logo {
     color:whitesmoke;
     border: 5px darkblue;
     font-family: Algerian;
     background-color: skyblue;
     font-size: 50px;
     font-weight: bold;
     padding: 8px;
     text-decoration: underline orange;
 }
 
 #logo-name {
     color: black;
     border: 3rpx black;
     font-size: 32px;
     font-weight: bold;
     margin: 8px;
     margin-top: 16px;
     background-color: lightblue;
     display: inline-block;
 }
 
 #navigation a {
     color: darkgray;
     padding: 15px;
     margin-top: 12px;
     background-color: darkred;
     display: inline-block;
     font-weight: bold;
 }
 
 #navigation a:hover {
     color: lightseagreen;
 }
 
 #image img {
     width: 40%;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 #main {
     max-width: 800px;
     margin: auto;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }

 #main a:hover {
     color: aqua;
 }

 #main a {
    color: darkgray;
    padding: 15px;
    margin-top: 12px;
    background-color: darkred;
    display: inline-block;
    font-weight: bold;
 }

h2 {
    color:whitesmoke;
    border: 5px darkblue;
    font-family: Algerian;
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    text-decoration: underline orange;
}

h3 {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    text-decoration: underline red;
}

h4 {
    font-weight: bold;
    font-style: italic;
}